body {
    font-family: 'Lato', cursive;
    font-size: 120%;
    background-color: #2d2d2d;
}

.top-of-screen {
    height: 17vh;
}

.gamestable {
    margin: auto;
    font-size: 235%;
    font-weight: bold;
}

.tabletitle {
    padding: 15px;
    text-align: right;
    vertical-align: top;
}

.tablematches {
    padding: 15px;
    text-align: left;
}

.bottom-left-align-parent {
    position: relative;
}

.bottom-left-align-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.team1 {
    color: #aec7e1
}

.team2 {
    color: #03468b
}