body {
    font-family: 'Lato', cursive;
    font-size: 120%;
    background:  no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.top-of-screen {
    height: 13vh;
}

.gamestable {
    margin: auto;
    font-size: 250%;
    font-weight: bold;
}

.tabletitle {
    padding: 15px;
    text-align: right;
    vertical-align: top;
}

.tablematches {
    padding: 15px;
    text-align: left;
}

.bottom-left-align-parent {
    position: relative;
}

.bottom-left-align-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.team1 {
    color: #bed7f1
}

.team2 {
    color: #2366Ab
}


#match-duration {
    font-size: 100%;
    font-weight: normal;
    color:#bed7f1
}

#currenttime {
    font-family:  "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", Courier, monospace;
    font-size: 100%;
    font-weight: normal;
    color:#bed7f1
}


#tournamentstart {
    font-family: "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", Courier, monospace;
    font-size: 100%;
    font-weight: normal;
    color:#bed7f1
}
