body {
    font-family: 'Lato', cursive;
    font-size: 120%;
    background: url(../img/gray-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-of-screen {
    height: 17vh;
}

.gamestable {
    margin: auto;
    font-size: 235%;
    font-weight: bold;
}

.tabletitle {
    padding: 15px;
    text-align: right;
    vertical-align: top;
}

.tablematches {
    padding: 15px;
    text-align: left;
}

.bottom-left-align-parent {
    position: relative;
}

.bottom-left-align-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.team1 {
    color: #bed7f1
}

.team2 {
    color: #2366Ab
}

.duration {
    font-size: 50%;
    font-weight: normal;
    color:#2366Ab;
}

#duration {
    color:#bed7f1;
}