<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>On deck</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<b>  Tournament: </b><br/>
Name:  {{tournament['name']}} <br/>
Started At: {{tournament['started_at']}} <br/><br/>

<b> Last Match: </b><br>
Player 1: {{matches['last']['player1']}} <br/>
Player 2: {{matches['last']['player2']}} <br/>
Completed At: {{matches['last']['completed_at']}} <br/><br/>

<b> Current Match: </b><br>
Player 1: {{matches['current']['player1']}} <br/>
Player 2: {{matches['current']['player2']}} <br/>
Started At: {{matches['current']['started_at']}} <br/><br/>

<b> Up Next: </b><br>
Player 1: {{matches['next']['player1']}} <br/>
Player 2: {{matches['next']['player2']}} <br/><br/>

<b>And Then: </b><br>
Player 1: {{matches['next2']['player1']}} <br/>
Player 2: {{matches['next2']['player2']}} <br/><br/>

<b>And Then: </b><br>
Player 1: {{matches['next3']['player1']}} <br/>
Player 2: {{matches['next3']['player2']}} <br/><br/>

</body>

</html>
